<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="abook.css">

  <title>Address Book</title>
</head>
<header>
  <h3>Address book</h3>
</header>
<body>

<div class="container">
    <form action="/addressbook" method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1">To login enter your first and last name:</label>
        <input type="text" name="person_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your name here..."><br>
        <button type="submit" class="button button1">Proceed to Address Book</button>
      </div>
    </form>
  </div>



  



</body>
</html>